html
	head
		title Storm Daniels
		link(href='./main.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet')
	body
		h1.title Beware of Storm Daniels
		#msg-container
		#container
		#counter-container
			#counter
			#disclaimer *this stat is fake news also

		script(type='text/javascript' src='./lib/three.min.js')
		script(type='text/javascript' src='./lib/OrbitControls.js')
		script(type='text/javascript' src='./lib/MarchingCubes.js')
		script(type='text/javascript' src='./buffer_loader.js')
		script(type='text/javascript' src='./ws.js')
		script(type='text/javascript' src='./storm.js')